<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Pet Fact</title>
</head>
<body>
   <h1>Submit FAX</h1>
   <p>If you have some fun animal facts you'd like to share, please submit them! We may use them in the future!</p>
    <form action="/new" method="POST">
        <label for="pet_name">Name:</label>
        <input type="text" id="pet_name" name="name" value="{{ pet_name }}"><br>
        <label for="pet_fact">Insert your pet fact!</label>
        <input type="text" id="pet_fact" name="pet_fact"><br>
        <button type="submit">Submit</button>
    </form>

    <p>
        <a href="{{ url_for('pet.index') }}">Back Home</a>
    </p>
</body>
</html>

